/* Cursor Utilities
   Prefixes: u-cursor-
*/

.u-cursor-auto { cursor: auto !important; }
.u-cursor-default { cursor: default !important; }
.u-cursor-pointer { cursor: pointer !important; }
.u-cursor-wait { cursor: wait !important; }
.u-cursor-text { cursor: text !important; }
.u-cursor-move { cursor: move !important; }
.u-cursor-help { cursor: help !important; }
.u-cursor-not-allowed { cursor: not-allowed !important; }
.u-cursor-none { cursor: none !important; }
