/* Line Height Utilities
   Prefixes: u-leading-
*/

.u-leading-none { line-height: 1 !important; }
.u-leading-tight { line-height: 1.25 !important; }
.u-leading-normal { line-height: 1.5 !important; }
.u-leading-loose { line-height: 2 !important; }
